@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


nav{
    display: flex;
    margin-bottom: 100px;
    justify-content:space-around;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
   

}
/* design for influencer */
.influencer{
    margin-bottom: 50px;
    align-content: stretch;
}
.navi{
    display: flex;
}
.navi li{
    list-style: none;
    margin: 10px;
    text-decoration: none;
}
.line{
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
   
}

.navi{
    list-style: none;
    text-decoration: none;
}
.influencer{
    display: flex;
}
.line-influ{
    width: 70%;
    
}
.cam{
    width: 50%;
    height: 20px;
    padding:5px 20px;
    margin-bottom: -5px;

    
}
button{
    background-color: rgb(216, 11, 161);
    border: none;
    padding: 20px 10px;
    border-radius: 10px;
    color: white;
}
  button:hover{
      background-color: palevioletred;
      color: black;
  }
  hr{
    border:3x solid black;
   
    
  }
  /* ----------------
  <!-- popular collection -->
  ------------------- */
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    text-align: center;
    font-size: 20px;
}
.container{
    margin-top: 21px;
    width: 960px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
}
.collection{
    padding: 25px;
    width: 237px;
    box-shadow: 0px 5.34229px 14px rgba(22, 20, 20, 0.421);
    border-radius: 15px;
    margin-bottom: 25px;

}
.collection .thumbnail img{
    width: 224px;
    height: 150px;
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014
}
button.right{
    position: left;
margin-left: 60px;
background-color: none;



}
.ong{
    color: rgb(7, 99, 179);
}
.thought{
    margin-top: 50px;
}
.foot{
    width:100%;
    text-align: center;
    color: white;
    background-color:rgb(1, 1, 45);
    margin-top: 10%;
}
.fab-fa{
    justify-content: space-around;
}
@media only screen and (min-width: 577px) and (max-width:768px) {
    .container{
        width: 100%;
    }
    .collections{
        grid-template-columns: repeat(2, 1fr);
    }
    
}